*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.Compo5{
    width: 340px;
    height: 400px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
}

.Compo5 h1{
    padding-top: 15px;
    padding-left: 15px;
    font-size: 20px;
    padding-bottom: 8px;
}

.Compo5 .mainImg{
    height: 150px;
    width: 150px;
    margin-top: 5px;
    margin-left: 80px;
}

.Compo5 p{
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 13px;
}

.Compo5 .price{
    display: flex;
    gap: 10px;
    color: rgb(102, 99, 99);
    align-items: flex-end;
    letter-spacing: 1.5px;
}

.Compo5 .price h4{
    font-size: 20px;
    font-weight: 100;
    color: black;
}

.Compo5 .wrap{
    display: flex;
    gap: 10px;
    margin-top: 15px;
    margin-left: 20px;
}

.Compo5 .wrap div{
    height: 65px;
    width: 65px;
    border: 2px solid black;
    border-radius: 8px;
}

.Compo5 .wrap div img{
    height: 50px;
    width: 50px;
    margin-top: 5px;
    margin-left: 5px;
}

.Compo5 .see{
    margin-top: 30px;
    color: rgb(77, 135, 235);
}