*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.inner img{
    height: 120px;
    justify-content: center;
    align-items: center;
    
}

.inner img:hover{
    cursor: pointer;
}
