*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
    color: white;
}

.Navmain{
    height: 20%;
    width: 100%;
    background-color: rgb(19, 25, 32);
    display: flex;
    gap: 5px;
}



nav .logo{
    height: 35px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

nav .loca{
    padding-left: 20px;
    margin-top: 14px;
    margin-bottom: 10px;
}

nav .loca p{
    font-size: 12px;
    color: rgb(156, 156, 156);
}
nav .loca h1{
    font-size: 15px;
}

nav .sbox{
    height: 40px;
    width: 800px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    color: #6F7373
}

nav .sbox .dd{
    width: 50px;
    height: 100%;
    background-color: #D4D4D4;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    justify-content: center; 
    align-items: center;
    padding-left: 4px;
    padding-top: 3px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #6F7373;
    display: flex;
    gap: 8px;
}

nav .sbox .dd img{
    height: 8px;
    width: 8px;
}

nav .sbox .stxt{
    width: 700px;
    height: 100%;
    padding-right: 0;
    color: #6F7373;
    font-size: 15px;
    padding-top: 11px;
    padding-left: 10px;
    font-weight: 300px;
}

nav .sbox .search{
    width: 50px;
    height: 100%;
    padding-right: 0;
    background-color: #f3a847db;
    color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

nav .sbox .search img{
    padding-top: 10px;
    padding-left: 15px;
    height: 30px;
}
nav .lang{
    display: flex;
    gap: 5px;
    padding-top: 25px;
    padding-left: 15px;
    font-size: 15px;
}
nav .lang img{
    height: 18px;
}

nav .lang .arrow{
    margin-top: 6px;
    height: 12px;
    width: 12px;
}


nav .acc{
    padding-left: 20px;
    margin-top: 14px;
    margin-bottom: 10px;
    display: flex;
    padding-bottom: 10px;
    gap: 5px;
}

nav .acc p{
    font-size: 12px;
}
nav .acc h1{
    font-size: 15px;
}

nav .acc img{
    margin-top: 17px;
    height: 12px;
    width: 12px;
}

nav .ro{
    padding-left: 20px;
    margin-top: 14px;
    margin-bottom: 10px;
}

nav .ro p{
    font-size: 12px;
}
nav .ro h1{
    font-size: 15px;
}

nav .cart{
    padding-left: 10px;
    margin-top: 14px;
    margin-bottom: 25px;
    display: flex;
    font-size: 15px;
    font-weight: 600;
}

nav .cart img{
    height: 30px;
    width: 40px;
}

nav .cart p{
    margin-top: 14px;
}



.nav2{
    height: 40px;
    width: 100%;
    background-color: #232F3E;
    display: flex;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 40px;
    font-size: 14px;
    font-weight: 540;
    color: rgb(225, 223, 223);
}

.nav2 .all{
    display: flex;
    gap: 5px;
    
}

.nav2 .all p{
    
    font-weight: 500;
    font-size: 15px;
}

.nav2 .all .menu{
    height: 20px;
    align-items: center;
    padding-bottom: 1.5px;
}

.nav2 div{
    padding-top: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

.nav2 div:hover{
    border: 1px solid white;
}